body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: black;
  color: red;
}

main {
  height: calc(100% - 70px);
  width: 100%;
  /* min-height: 600px; */
  background-color: grey;
  position: relative;

}

.stampa {
  position: absolute;
  text-align: center;
  background-color: gray;
}

.locandina {
  display: inline-block;
  width: 20%;
}

.locandina img {
  width: 185px;
  height: 278px;
}


#flag {
  width: 30px;
  height: 20px;
}
