body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: black;
  color: red;
}

main {
  height: calc(100% - 70px);
  width: 100vw;
  min-height: 600px;
  background-color: grey;

}

.stampa {

}

.locandina {
  display: inline-block;
  width: 20%;
}




.flag {
  width: 30px;
  height: 20px;
}
